@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.Pin_container{
  margin: 0;
  padding: 0;
  width: 95vw;
  /* background-color: black; */
  /* position: absolute; */
  left: 50%;
  transition: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill,250px);
  grid-auto-rows: 10px;
  justify-content: center;
}
.pin{
  margin: 15px 10px;
  padding: 0;
  border-radius: 16px;
  background-color: red;
}
@media (max-width: 768px) {
  .nav{
    display: none;
  }
}